h1{
    color: tomato;
}

.navbar{
    background-color: #D6EAF8 !important;

}

.navbar-brand{
    color: floralwhite !important;
}

/*Estilo carrusel*/


.contenido__principal1{
    overflow: hidden;
}



